@model Capstone.Web.Models.Brewery

@{
    ViewBag.Title = "BreweryInfoUpdate";
}

<h2>BreweryInfoUpdate</h2>

<div class="jumbotron">


    

    @using (Html.BeginForm("BrewInfo", "Home", FormMethod.Post, new { id = "beerPhotoSubmit", enctype = "multipart/form-data" }))
    {


        <div class="input-field col">
            @Html.TextBoxFor(m => m.Address, new { id = "Address", type = "text", @class = "validate" })
            <label for="Address">Address</label>
        </div>


        <div class="input-field col">
            @Html.TextAreaFor(m => m.History, new { id = "History", type = "text", @class = "validate materialize-textarea" })
            <label for="History">History</label>
        </div>


        <div class="input-field col">
            @Html.TextBoxFor(m => m.Hours[0].Opens, new { id = "History", type = "text", @class = "validate materialize-textarea" })
            <label for="Hours">Hours</label>
        </div>

    }


</div>


<script>


    $("#check0").click(function () {

        //$    OPEN
        if ($("#check0").is(":checked")) {
            $("#lo0").text("Mon Open"); $("#o0").val(""); $("#lo0").removeClass("active"); $("#lo0").removeClass("redclosed"); $("#o0").prop("disabled", false);
            $("#lc0").text("Mon Close"); $("#c0").val(""); $("#lc0").removeClass("active"); $("#lc0").removeClass("redclosed"); $("#c0").prop("disabled", false);
        }
        //X    CLOSED
        if (!$("#check0").is(":checked")) {
            $("#lo0").removeClass("active"); $("#lo0").addClass("redclosed"); $("#lo0").text("CLOSED"); $("#o0").val(""); $("#o0").prop("disabled", true);
            $("#lc0").removeClass("active"); $("#lc0").addClass("redclosed"); $("#lc0").text("CLOSED"); $("#c0").val(""); $("#c0").prop("disabled", true);
        }
    })


    $("#check1").click(function (event) {

        //$    OPEN
        if ($("#check1").is(":checked")) {
            $("#lo1").text("Tue Open"); $("#lo1").removeClass("active"); $("#lo1").removeClass("redclosed"); $("#o1").prop("disabled", false);
            $("#lc1").text("Tue Close"); $("#lc1").removeClass("active"); $("#lc1").removeClass("redclosed"); $("#c1").prop("disabled", false);
        }
        //X    CLOSED
        if (!$("#check1").is(":checked")) {
            $("#lo1").removeClass("active"); $("#lo1").addClass("redclosed"); $("#lo1").text("CLOSED"); $("#o1").val(""); $("#o1").prop("disabled", true);
            $("#lc1").removeClass("active"); $("#lc1").addClass("redclosed"); $("#lc1").text("CLOSED"); $("#c1").val(""); $("#c1").prop("disabled", true);
        }
    })

    $("#check2").click(function (event) {

        //$    OPEN
        if ($("#check2").is(":checked")) {
            $("#lo2").text("Wed Open"); $("#lo2").removeClass("active"); $("#lo2").removeClass("redclosed"); $("#o2").prop("disabled", false);
            $("#lc2").text("Wed Close"); $("#lc2").removeClass("active"); $("#lc2").removeClass("redclosed"); $("#c2").prop("disabled", false);
        }
        //X    CLOSED
        if (!$("#check2").is(":checked")) {
            $("#lo2").removeClass("active"); $("#lo2").addClass("redclosed"); $("#lo2").text("CLOSED"); $("#o2").val(""); $("#o2").prop("disabled", true);
            $("#lc2").removeClass("active"); $("#lc2").addClass("redclosed"); $("#lc2").text("CLOSED"); $("#c2").val(""); $("#c2").prop("disabled", true);
        }
    })

    $("#check3").click(function (event) {

        //$    OPEN
        if ($("#check3").is(":checked")) {
            $("#lo3").text("Thur Open"); $("#lo3").removeClass("active"); $("#lo3").removeClass("redclosed"); $("#o3").prop("disabled", false);
            $("#lc3").text("Thur Close"); $("#lc3").removeClass("active"); $("#lc3").removeClass("redclosed"); $("#c3").prop("disabled", false);
        }
        //X    CLOSED
        if (!$("#check3").is(":checked")) {
            $("#lo3").removeClass("active"); $("#lo3").addClass("redclosed"); $("#lo3").text("CLOSED"); $("#o3").val(""); $("#o3").prop("disabled", true);
            $("#lc3").removeClass("active"); $("#lc3").addClass("redclosed"); $("#lc3").text("CLOSED"); $("#c3").val(""); $("#c3").prop("disabled", true);
        }
    })

    $("#check4").click(function (event) {

        //$    OPEN
        if ($("#check4").is(":checked")) {
            $("#lo4").text("Fri Open"); $("#lo4").removeClass("active"); $("#lo4").removeClass("redclosed"); $("#o4").prop("disabled", false);
            $("#lc4").text("Fri Close"); $("#lc4").removeClass("active"); $("#lc4").removeClass("redclosed"); $("#c4").prop("disabled", false);
        }
        //X    CLOSED
        if (!$("#check4").is(":checked")) {
            $("#lo4").removeClass("active"); $("#lo4").addClass("redclosed"); $("#lo4").text("CLOSED"); $("#o4").val(""); $("#o4").prop("disabled", true);
            $("#lc4").removeClass("active"); $("#lc4").addClass("redclosed"); $("#lc4").text("CLOSED"); $("#c4").val(""); $("#c4").prop("disabled", true);
        }
    })



    $("#check5").click(function (event) {

        //$    OPEN
        if ($("#check5").is(":checked")) {
            $("#lo5").text("Sat Open"); $("#lo5").removeClass("active"); $("#lo5").removeClass("redclosed"); $("#o5").prop("disabled", false);
            $("#lc5").text("Sat Close"); $("#lc5").removeClass("active"); $("#lc5").removeClass("redclosed"); $("#c5").prop("disabled", false);
        }
        //X    CLOSED
        if (!$("#check5").is(":checked")) {
            $("#lo5").removeClass("active"); $("#lo5").addClass("redclosed"); $("#lo5").text("CLOSED"); $("#o5").val(""); $("#o5").prop("disabled", true);
            $("#lc5").removeClass("active"); $("#lc5").addClass("redclosed"); $("#lc5").text("CLOSED"); $("#c5").val(""); $("#c5").prop("disabled", true);
        }
    })


    $("#check6").click(function (event) {

        //$    OPEN
        if ($("#check6").is(":checked")) {
            $("#lo6").text("Sun Open"); $("#lo6").removeClass("active"); $("#lo6").removeClass("redclosed"); $("#o6").prop("disabled", false);
            $("#lc6").text("Sun Close"); $("#lc6").removeClass("active"); $("#lc6").removeClass("redclosed"); $("#c6").prop("disabled", false);
        }
        //X    CLOSED
        if (!$("#check6").is(":checked")) {
            $("#lo6").removeClass("active"); $("#lo6").addClass("redclosed"); $("#lo6").text("CLOSED"); $("#o6").val(""); $("#o6").prop("disabled", true);
            $("#lc6").removeClass("active"); $("#lc6").addClass("redclosed"); $("#lc6").text("CLOSED"); $("#c6").val(""); $("#c6").prop("disabled", true);
        }
    })

</script>