
@model Capstone.Web.Models.User


<style>
    .field-validation-error {
        color: red;
        font-size: 10pt;
        
    }

    input:-webkit-autofill,
    input:-webkit-autofill:active,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        --border: 1px solid rgb(208, 208, 208);
        -webkit-text-fill-color: rgb(0, 0, 0);
        -webkit-box-shadow: 0 0 0px 1000px rgba(0, 255, 245, 0.19) inset !important;
        transition: background-color 5000s ease-in-out 0s;
        border-top-left-radius: 5px !important;
        border-top-right-radius: 5px !important;
        background-color: none !important;
    }



        

    
</style>
<div class="col-10 col-lg-5 col-sm-10 jumbotron mt-5 mx-auto pt-3">
    <h3 class="text-center">USER LOGIN</h3>
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {@Html.ValidationMessage("invalid-credentials")



    <div class="input-field col">
        @Html.TextBoxFor(m => m.EmailAddress, new { id = "emailAdd", type = "email", @class = "validate" })
        <label class="ml-2" for="emailAdd">Email</label>
        @Html.ValidationMessageFor(m => m.EmailAddress,null, new { id="emailValidate"})
    </div>


    <div class="input-field col">
        @Html.PasswordFor(m => m.Password, new { id = "passWord", type = "password", @class = "validate" })
        <label class="ml-2" for="passWord">Password</label>
        @Html.ValidationMessageFor(m => m.Password, null, new { id = "pWordValidate" })
    </div>



    <button class="btn btn-primary btn-lg btn-block mt-5 teal accent-1 teal-text z-depth-3" id="login-button">Login</button>
}


</div>



<script>


    $("#emailAdd").keydown(function (event) {
        if ($("#emailAdd").val().length > 0) {
            $("#emailValidate").hide()
        }
    })

    $("#passWord").keydown(function (event) {
        if ($("#passWord").val().length > 0) {
            $("#pWordValidate").hide()
        }
    })

</script>